.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .register h2 {
    font-size: 40px;
    font-weight: bold;
  }
  
  .register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register button:hover {
    background-color: #45a049;
  }
  
  .register p {
    font-size: 14px;
    color: red;
  }